# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [36]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [37]:
Orders=pd.read_csv('./Orders.csv')
Orders.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [67]:
gastos_cliente= Orders.groupby('CustomerID')['amount_spent'].sum().reset_index()
#sumamos los gastos de cada cliente por cada ID y creamos un nuevo df
gastos_cliente

      CustomerID  amount_spent
0          12346      77183.60
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
4          12350        334.40
...          ...           ...
4334       18280        180.60
4335       18281         80.82
4336       18282        178.05
4337       18283       2094.88
4338       18287       1837.28

[4339 rows x 2 columns]

In [87]:
q75, q95 = gastos_cliente['amount_spent'].quantile([0.75, 0.95]) #definimos los percentiles que tendremos en cuengta para separar a los VIP de los Preferred

In [88]:
vip_customers = gastos_cliente[gastos_cliente['amount_spent'] > q95]
preferred_customers = gastos_cliente[(gastos_cliente['amount_spent'] > q75) & (gastos_cliente['amount_spent'] <= q95)]
vip_customers

      CustomerID  amount_spent
0          12346      77183.60
10         12357       6207.67
12         12359       6372.58
50         12409      11072.67
55         12415     124914.53
...          ...           ...
4207       18109       8052.97
4229       18139       8438.34
4253       18172       7561.68
4292       18223       6484.54
4298       18229       7276.90

[217 rows x 2 columns]

In [89]:
preferred_customers

      CustomerID  amount_spent
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
5          12352       2506.04
9          12356       2811.43
...          ...           ...
4319       18259       2338.60
4320       18260       2643.20
4328       18272       3078.58
4337       18283       2094.88
4338       18287       1837.28

[868 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [3]:
vip_by_country = vip_customers.merge(vip_customers, on='CustomerID').groupby('Country')['amount_spent'].agg(['sum', 'count']).sort_values('sum', ascending=False)
preferred_by_country = preferred_customers.merge(preferred_customers, on='amount_spent').groupby('Country')['amount_spent'].agg(['sum', 'count']).sort_values('sum', ascending=False)

NameError: name 'vip_customers' is not defined

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [2]:
# your code here