# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [45]:
# your code here
orders =  pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [57]:
# your code here

calidad = {}
p = orders.groupby('CustomerID').mean(numeric_only = True)['amount_spent']
per_95=np.percentile(p, 95)
for i in range(len(p.index)):
    if p.iloc[i] >= per_95:
        calidad[p.index[i]] ='VIP'
    elif p.iloc[i] >= 24.84:
        calidad[p.index[i]] = 'Preferred'
    else:
        calidad[p.index[i]] = 'Standard'
orders['Customer Label'] = 0

for i,e in calidad.items():
    orders.loc[orders['CustomerID']==i,'Customer Label'] = e
orders['Customer Label'].value_counts()

Standard     321487
Preferred     64296
VIP           12141
Name: Customer Label, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [66]:
# your code here
l = orders.loc[orders['Customer Label']=='VIP'].groupby('Country')['Customer Label'].count().reset_index()
display(l)

            Country  Customer Label
0         Australia             716
1           Austria              14
2            Canada               1
3   Channel Islands              14
4           Denmark              36
5           Finland              37
6            France             189
7           Germany              71
8             Japan             221
9       Netherlands            2082
10        Singapore             222
11            Spain              48
12           Sweden             198
13      Switzerland             109
14   United Kingdom            8183

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [72]:
# your code here
l = orders.loc[(orders['Customer Label']=='VIP') | (orders['Customer Label']=='Preferred')].groupby('Country')['Customer Label'].count().reset_index()
display(l)

                 Country  Customer Label
0              Australia            1050
1                Austria              90
2                Bahrain              13
3                Belgium             398
4                 Brazil              32
5                 Canada               1
6        Channel Islands             152
7                 Cyprus             314
8         Czech Republic              25
9                Denmark             280
10                  EIRE            7238
11               Finland             525
12                France            1523
13               Germany            2947
14                Greece              32
15                Israel             214
16                 Italy             145
17                 Japan             306
18               Lebanon              45
19             Lithuania              35
20                 Malta              67
21           Netherlands            2082
22                Norway             957
23                Poland             151
24              Portugal             323
25             Singapore             222
26                 Spain             788
27                Sweden             318
28           Switzerland            1110
29                   USA              45
30  United Arab Emirates              68
31        United Kingdom           54941