# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [108]:
# import required libraries

import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [109]:
# your code here

orders = pd.read_csv(r"C:\Users\Juan\Desktop\IronHack_apuntes\2.3-lab_df_calculation_and_transformation\your-code\Orders.csv")

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [110]:
# your code here
#orders.head(20) va por cada cliente unico va por customer id, las filas son cada una de las ventas

#orders.info
gasto = orders.groupby("CustomerID").sum()
gasto

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40
...,...,...,...,...,...,...,...,...,...
18280,1110495,5457120,20110,30,10,90,45,47.65,180.60
18281,1560699,3895248,14077,42,49,70,54,39.36,80.82
18282,4642134,6838540,24132,116,60,146,103,62.39,178.05
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [111]:
gasto.describe()

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
count,4.339000e+03,4.339000e+03,4.339000e+03,4339.000000,4339.000000,4339.000000,4339.000000,4339.000000,4339.000000
mean,2.553768e+07,5.141346e+07,1.844201e+05,698.135746,331.486057,1167.290850,1194.214335,285.780275,2053.793018
std,7.157521e+07,1.287813e+08,4.600899e+05,1878.041994,789.348000,2991.085239,5055.603049,880.545716,8988.248381
min,2.520000e+02,5.363930e+05,2.010000e+03,1.000000,1.000000,8.000000,1.000000,0.000000,0.000000
25%,3.569288e+06,9.534986e+06,3.418700e+04,110.000000,50.000000,204.000000,160.000000,51.685000,307.245000
50%,1.109093e+07,2.312857e+07,8.245100e+04,308.000000,136.000000,517.000000,379.000000,127.150000,674.450000
75%,2.814387e+07,5.630215e+07,2.011000e+05,769.500000,355.000000,1256.000000,993.000000,294.425000,1661.640000
max,2.405301e+09,4.418581e+09,1.578003e+07,62607.000000,26704.000000,103831.000000,197491.000000,33332.450000,280206.020000

In [112]:
''''

#vip_threshold = np.quantile(gasto, 0.95)
#preferred_threshold = np.quantile(gasto, 0.75)

gasto['CustomerType'] = 'Regular'
gasto.loc[amount_spent >= vip_threshold, 'CustomerType'] = 'VIP'
gasto.loc[(amount_spent >= preferred_threshold) & (amount_spent < vip_threshold), 'CustomerType'] = 'Preferred'


'''

"'\n\n#vip_threshold = np.quantile(gasto, 0.95)\n#preferred_threshold = np.quantile(gasto, 0.75)\n\ngasto['CustomerType'] = 'Regular'\ngasto.loc[amount_spent >= vip_threshold, 'CustomerType'] = 'VIP'\ngasto.loc[(amount_spent >= preferred_threshold) & (amount_spent < vip_threshold), 'CustomerType'] = 'Preferred'\n\n\n"

In [113]:
vips = orders[orders["amount_spent"] >= orders["amount_spent"].quantile(0.95)]
preferente = orders[(orders["amount_spent"] >= orders["amount_spent"].quantile(0.75)) & (orders["amount_spent"] < orders["amount_spent"].quantile(0.95))]



vips.sort_values("amount_spent", ascending= False).head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
397451,540421,581483,23843,2011,12,5,9,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,168469.60
37126,61619,541431,23166,2011,1,2,10,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,12346,United Kingdom,77183.60
155418,222680,556444,22502,2011,6,5,15,picnic basket wicker 60 pieces,60,2011-06-10 15:28:00,649.50,15098,United Kingdom,38970.00
118352,173382,551697,POST,2011,5,2,13,postage,1,2011-05-03 13:46:00,8142.75,16029,United Kingdom,8142.75
248706,348325,567423,23243,2011,9,2,11,set of tea coffee sugar tins pantry,1412,2011-09-20 11:05:00,5.06,17450,United Kingdom,7144.72
109624,160546,550461,21108,2011,4,1,13,fairy cake flannel assorted colour,3114,2011-04-18 13:20:00,2.10,15749,United Kingdom,6539.40
32732,52711,540815,21108,2011,1,2,12,fairy cake flannel assorted colour,3114,2011-01-11 12:55:00,2.10,15749,United Kingdom,6539.40
308097,421601,573003,23084,2011,10,4,12,rabbit night light,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00
32730,52709,540815,85123A,2011,1,2,12,white hanging heart t-light holder,1930,2011-01-11 12:55:00,2.55,15749,United Kingdom,4921.50
109620,160542,550461,85123A,2011,4,1,13,white hanging heart t-light holder,1930,2011-04-18 13:20:00,2.40,15749,United Kingdom,4632.00

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [123]:
# your code here

cvips = vips.groupby("Country").sum()

cvips.sort_values("amount_spent", ascending=False)

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent
Country,,,,,,,,,,
United Kingdom,4071581219,8596874156,30899841,114541,51081,188503,1559867,114030.04,237973161,3080209.41
Netherlands,386111734,821666280,2954113,9985,4602,17302,170883,3958.75,21513119,263062.18
EIRE,196999139,414757671,1490138,5121,2380,8564,63038,6621.41,10700966,138315.05
Australia,131915167,322196879,1164365,3453,1851,6526,72097,1917.63,7188336,123879.80
Germany,130553326,291394160,1049700,3722,1955,6341,20267,7017.71,6576891,66681.97
France,112680436,228102235,818454,2996,1417,4652,20606,12919.52,5167430,60165.75
Japan,33657970,95164705,345863,1151,637,1816,22234,440.18,2194116,34001.02
Sweden,42521110,98662974,355931,1236,584,2108,32011,656.25,2998422,32673.35
Spain,30384233,72383192,261420,867,399,1728,6895,1570.69,1628275,25246.37
Switzerland,52329344,101680968,363988,1352,830,2258,7321,1676.67,2281499,21643.85
Singapore,10740227,26690921,96528,273,87,562,1398,12491.33,611712,16043.61
Norway,41733948,65842785,233270,1077,341,1456,4184,2473.07,1450061,14190.00
Denmark,17968706,35357622,126687,511,230,669,3219,360.12,782610,11244.49
Finland,16852947,34717489,124679,452,219,751,2081,1284.40,778699,9719.56
Portugal,10310303,22875478,82449,264,115,451,1026,4707.02,518257,7994.41
Channel Islands,6907754,17236554,62341,177,89,394,2162,427.52,461024,5304.57
Belgium,13762656,22649540,80440,337,152,472,1366,357.41,498238,3883.95
Austria,7289553,15111387,54295,198,77,285,1048,452.02,336536,3366.38
Cyprus,4526208,13266399,48263,123,68,278,769,1327.92,297427,3253.27
Israel,7218458,15661649,56308,188,107,246,1099,294.87,354879,3044.04
Greece,2388382,13070329,48264,44,29,264,315,304.34,341131,2492.44
Italy,6335346,10737192,38208,163,59,228,590,594.88,243524,2232.97
Canada,671517,1669245,6033,18,9,31,555,553.65,52331,1167.68
Poland,1597058,5504845,20109,52,35,117,263,144.50,127934,857.84
Iceland,2023450,3931445,14076,62,13,76,402,32.58,86429,793.02
Malta,1296769,2259534,8044,33,9,44,26,127.70,66616,783.85
Lebanon,438078,3253656,12066,6,24,60,67,55.60,76584,579.15
Lithuania,56001,3759577,14070,84,49,84,144,31.79,107324,560.96
United Arab Emirates,1288035,2260872,8044,36,16,68,30,57.60,50956,422.10
Brazil,629223,2200804,8044,16,20,40,74,24.54,51076,406.86
USA,1619857,2283570,8044,38,13,48,90,21.61,50583,314.10
Bahrain,362283,1104898,4022,10,2,26,156,2.50,24710,195.00
Unspecified,616614,1127894,4022,16,2,20,48,5.78,24726,138.72
Czech Republic,103606,545072,2011,2,1,8,24,2.95,12781,70.80

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [117]:
# your code here
preferente_y_vips = orders[orders["amount_spent"] >= orders["amount_spent"].quantile(0.75)]
c =preferente_y_vips.groupby("Country").sum()

In [118]:
preferente_y_vips.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50

In [104]:
c =preferente_y_vips.groupby("Country").sum()

In [105]:
c

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent
Country,,,,,,,,,,
Australia,191931661,477674071,1727429,5162,2847,9789,81593,2688.88,10694909,134484.24
Austria,40581872,82923696,297626,1031,379,1797,2541,1116.90,1852366,6811.22
Bahrain,2206198,6632290,24132,60,18,164,228,65.70,148256,466.00
Belgium,203897472,400800158,1435822,5452,2647,8787,10413,3714.42,8884175,23311.84
Brazil,2516971,8803216,32176,64,80,160,282,55.72,204304,871.02
Canada,11964097,27893206,100550,317,56,485,1410,707.69,868087,2383.37
Channel Islands,89409554,185940378,667646,2361,1127,3619,5557,2041.93,4942024,14357.43
Cyprus,51060450,120312654,434347,1616,735,2515,4121,2173.88,2677100,9233.53
Czech Republic,3751477,11051164,40220,88,44,172,563,74.55,255620,752.46
Denmark,67608007,130327465,466535,1842,761,2868,6001,894.39,2882484,17078.73
EIRE,872354269,1705771081,6109254,23614,10129,36332,96493,20688.35,44633863,209517.55
European Community,6036019,13412514,48264,158,109,258,223,142.50,362592,752.80
Finland,83447897,179965309,647529,2239,1047,3566,6421,2781.86,4028051,17718.37
France,881417902,1792152050,6431034,23383,11058,38035,62840,24016.29,40541519,144807.22
Germany,937476117,1942982752,6977930,25907,12314,41911,61467,19368.30,43851994,155971.30
Greece,7298700,28508472,104572,162,104,558,769,429.79,740734,3497.14
Iceland,21219325,44213740,158855,673,173,971,1345,266.97,975413,2891.83
Israel,33964857,68469266,245342,889,477,1040,2649,627.91,1546816,5917.52
Italy,89584239,174009680,623400,2240,960,3869,4565,1936.50,3940914,10995.49
Japan,43382365,133016822,484595,1702,947,2585,25580,535.76,3074211,36984.84
Lebanon,1971217,14641452,54297,27,108,270,231,192.84,344628,1413.53
Lithuania,243135,15576135,58290,348,199,350,602,85.54,444628,1559.36
Malta,12065645,21444315,76418,307,89,387,368,340.96,646940,1690.34
Netherlands,501815307,1084402733,3901285,12930,6211,22840,197301,5021.90,28243193,281611.71
Norway,178490037,310491868,1105981,5111,1868,6939,12577,4378.90,6848109,29015.20
Poland,30943930,75127435,271480,853,401,1483,1749,805.54,1722132,4541.10
Portugal,135344635,282053946,1013512,3681,1587,5997,8549,6491.97,6412747,22803.93
RSA,7910049,11420700,40220,200,80,240,111,131.57,248920,484.85
Saudi Arabia,302445,1634514,6033,6,12,30,36,4.95,37695,59.40
Singapore,31968221,86482192,313716,810,289,1791,4227,12825.95,1988064,20371.21
Spain,183119393,390385963,1403659,4716,2434,8745,13998,4451.91,8755962,41351.91
Sweden,70159460,157946802,569094,1961,1012,3430,34075,1326.95,4396681,36124.15
Switzerland,239810738,490362925,1759596,6374,3349,10720,18772,4220.77,11063899,43528.82
USA,27818702,37789414,132726,668,165,842,1300,172.32,833927,2132.76
United Arab Emirates,8890529,25992563,94517,234,107,660,701,200.91,736163,1674.22
United Kingdom,22493418402,45829302962,164463978,622127,279646,1014432,2602695,366267.28,1259421987,5062545.33
Unspecified,9974371,24489426,88484,263,83,584,598,154.75,658340,1220.50