# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [28]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:

pokemon = pd.read_csv(r"C:\Users\GAMM\Documents\BootCamp\Lab_Done\2.3-lab_df_calculation_and_transformation\your-code\Pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [30]:
#primero limpiaré datos para trabajar cómodo 
pokemon.columns = [e.lower().replace(' ', '_') for e in pokemon.columns]
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [31]:
# your code here
total_test = pokemon["hp"] + pokemon["attack"] + pokemon["defense"] + pokemon["sp._atk"] + pokemon["sp._def"] + pokemon["speed"]
total_test.head()

0    318
1    405
2    525
3    625
4    309
dtype: int64

In [32]:
#confirmamos que la formula es correcta

pokemon["total"] == total_test

0      True
1      True
2      True
3      True
4      True
       ...
795    True
796    True
797    True
798    True
799    True
Length: 800, dtype: bool

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [35]:
from sklearn.preprocessing import OneHotEncoder

# Inicializar el codificador de One Hot Encoding
encoder = OneHotEncoder()

In [37]:
# Aplicar One Hot Encoding a las variables categóricas
encoded_data = encoder.fit_transform(pokemon[["type_1", "type_2"]])

In [38]:
# Convertir el resultado de One Hot Encoding en un dataframe de pandas
encoded_df = pd.DataFrame.sparse.from_spmatrix(encoded_data)

In [39]:
# Asignar los nombres de las columnas al dataframe resultante
encoded_df.columns = encoder.get_feature_names(["", ""])

c:\Users\GAMM\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [42]:
# Unir el dataframe resultante con el dataframe original
pokemon_encoded = pd.concat([pokemon, encoded_df], axis=1)

# Mostrar el resultado
pokemon_encoded.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,...,_Grass,_Ground,_Ice,_Normal,_Poison,_Psychic,_Rock,_Steel,_Water,_nan
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [46]:
correlations = pokemon_encoded.corrwith(pokemon_encoded['total']).sort_values(ascending=False)
correlations.head()

total      1.000000
sp._atk    0.747250
attack     0.736211
sp._def    0.717609
hp         0.618748
dtype: float64

In [47]:
most_correlated_type = correlations.index[0]

'total'

In [53]:


# assume the encoded fields are stored in a dataframe called encoded_df
# create a new dataframe that includes Total and the encoded fields
df = pd.concat([pokemon['total'], pokemon_encoded], axis=1)

# calculate the correlation of Total to each encoded field
correlations = df.corrwith(pokemon['total'])

# rank the correlations in descending order
correlations = correlations.sort_values(ascending=False)

# print the correlations in descending order
print(correlations)

# identify the #1 pokemon type that is most likely to have the highest Total
top_type = correlations.index[1]
print("The top pokemon type is:", top_type)

total         1.000000
total         1.000000
sp._atk       0.747250
attack        0.736211
sp._def       0.717609
hp            0.618748
defense       0.612787
speed         0.575943
legendary     0.501758
_Dragon       0.196532
_Fighting     0.138726
#             0.119813
_Dragon       0.115240
_Ice          0.100870
_Psychic      0.094364
_Steel        0.082000
_Psychic      0.076054
_Fire         0.073234
_Steel        0.070307
_Dark         0.065844
_Flying       0.054048
_Fire         0.050527
generation    0.048384
_Rock         0.037524
_Flying       0.029504
_Dark         0.017818
_Electric     0.016715
_Ground       0.016486
_Electric     0.014669
_Ghost        0.007594
_Ground       0.004082
_Rock        -0.000512
_Ice         -0.002412
_Ghost       -0.004885
_Normal      -0.013956
_Water       -0.015640
_Water       -0.018800
_Bug         -0.021375
_Fairy       -0.024606
_Fairy       -0.026948
_Fighting    -0.029086
_Grass       -0.036057
_Grass       -0.039224
_Poison      -0.057123
_Poison      -0.067837
_Normal      -0.104150
_Bug         -0.143957
_nan         -0.185945
dtype: float64
The top pokemon type is: total

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [34]:
# your code here