# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
orders = pd.read_csv('./Orders.csv')

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [5]:
#primer sub problema

#para identificar a los clientes únicos dentro de mi dataframe llamado orders 
# y agregar el monto gastado de cada uno de ellos hago esto: 

# creo una tabla dinámica que sume el monto gastado por cada cliente utilizando pivot table
tabla_dinamica_total_gastado = pd.pivot_table(orders, values='amount_spent', index='CustomerID', aggfunc='sum')

# Imprimir el total gastado por cada cliente
print(tabla_dinamica_total_gastado)

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [6]:
# segundo sub problema

# Calcular los percentiles del monto gastado
percentiles = orders['amount_spent'].quantile([0.25, 0.75])

# Seleccionar los clientes cuyo monto total gastado está dentro del rango de percentil dado
selected_customers = orders.groupby('CustomerID')['amount_spent'].sum().loc[
    lambda x: (x >= percentiles[0.25]) & (x <= percentiles[0.75])
]

# Imprimir los clientes seleccionados y su monto total gastado
print(selected_customers)

CustomerID
13307    15.00
14792     6.20
15823    15.00
16093    17.00
16454     6.90
16878    13.30
17763    15.00
17956    12.75
Name: amount_spent, dtype: float64

In [8]:
# tercer subproblema

# EtiquetO a los clientes seleccionados como "VIP" o "Preferred"
orders['customer_type'] = orders['CustomerID'].apply(
    lambda x: "VIP" if x in selected_customers.index else "Preferred"
)

# ImprimO los primeros 10 registros del dataframe con la columna de tipo de cliente
print(orders.head(10))

   Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
0           0     536365    85123A  2010     12    3     8
1           1     536365     71053  2010     12    3     8
2           2     536365    84406B  2010     12    3     8
3           3     536365    84029G  2010     12    3     8
4           4     536365    84029E  2010     12    3     8
5           5     536365     22752  2010     12    3     8
6           6     536365     21730  2010     12    3     8
7           7     536366     22633  2010     12    3     8
8           8     536366     22632  2010     12    3     8
9           9     536367     84879  2010     12    3     8

                           Description  Quantity          InvoiceDate  \
0   white hanging heart t-light holder         6  2010-12-01 08:26:00
1                  white metal lantern         6  2010-12-01 08:26:00
2       cream cupid hearts coat hanger         8  2010-12-01 08:26:00
3  knitted union flag hot water bottle         6  2010-12-01 08:26:00
4       red woolly hottie white heart.         6  2010-12-01 08:26:00
5         set 7 babushka nesting boxes         2  2010-12-01 08:26:00
6    glass star frosted t-light holder         6  2010-12-01 08:26:00
7               hand warmer union jack         6  2010-12-01 08:28:00
8            hand warmer red polka dot         6  2010-12-01 08:28:00
9        assorted colour bird ornament        32  2010-12-01 08:34:00

   UnitPrice  CustomerID         Country  amount_spent customer_type
0       2.55       17850  United Kingdom         15.30     Preferred
1       3.39       17850  United Kingdom         20.34     Preferred
2       2.75       17850  United Kingdom         22.00     Preferred
3       3.39       17850  United Kingdom         20.34     Preferred
4       3.39       17850  United Kingdom         20.34     Preferred
5       7.65       17850  United Kingdom         15.30     Preferred
6       4.25       17850  United Kingdom         25.50     Preferred
7       1.85       17850  United Kingdom         11.10     Preferred
8       1.85       17850  United Kingdom         11.10     Preferred
9       1.69       13047  United Kingdom         54.08     Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [12]:
vip_customers = orders[orders['customer_type'] == 'VIP']

vip_customers_by_country = vip_customers.groupby('Country')['CustomerID'].nunique()

country_with_most_vip_customers = vip_customers_by_country.idxmax()

country_with_most_vip_customers

'United Kingdom'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [14]:
vip_pref_customers = orders[orders['customer_type'].isin(['VIP', 'Preferred'])]

vip_pref_customers_by_country = vip_pref_customers.groupby('Country')['CustomerID'].nunique()

country_with_most_vip_pref_customers = vip_pref_customers_by_country.idxmax()

country_with_most_vip_pref_customers

'United Kingdom'